[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RareComb"]
	path = RareComb
	url = https://github.com/cran/RareComb
	shallow = true
	registered = true
